.dorm-card {
  background-color: whitesmoke;
  /* background-color: black; */
  margin: 10px;
  width: 120%;;
  display:flex;
  padding: 10px;
  gap: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.dorm-card:hover {
  background-color: #ffffff;     /* Light gray background shift */
}
.dorm-image {
  width: 150px;
  height:150px; 
  object-fit: cover;
}
.details-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.specs-row{
  display: flex;
  flex-direction: row;
  align-content:flex-start;
  gap: 10px;
}